:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(
  90deg,
  #001535 0%,
  #000f25 50%,
  #00060f 100%
);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
}

h1{
  
}